<% layout("/layouts/boilerplate") %>
<body>
    <br><br>
    
    
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">

        <div class="col-12 col-md-12">
            <h3 class="playfair-display-title fw-semibold text-center">
            Edit this listing
            </h3>
        </div>
            <br>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="listing[title]" value="<%= listing.title %>"  class="form-control" required>
        </div>
        
        <div class="mb-3" >
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control" rows="6" required ><%= listing.description %></textarea>
        </div>
        
        <div class="mb-3">
            Current Image <br>
            <img src= "<%= originalImageUrl  %>"/>
        </div>

        <div class="mb-3">
            <label for="image" class="form-label">Upload New Image </label>
            <input name="listing[image]" type="file"  class="form-control" >
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input name="listing[country]" value="<%= listing.country %>" class="form-control" required>
            </div> 
        </div>
        
        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input name="listing[location]" value="<%= listing.location %>" class="form-control" required>
        </div>
        
        <div class="col-12 col-md-12 offset-5">
            <button class="btn new-btn">Edit</button>
        </div>
        
    </form>

</div> </div>
    <br><br>


</body>
