<% layout("/layouts/boilerplate") %>

    
   <div class="row mt-3">
    <div class="col-8 offset-4">
        <h3 class=" playfair-display-title fw-semibold"> <%= listings.title %> </h3>
    </div>

    <div class="col-6 offset-3 mt-2 show-card listing-card  playfair-display-title">

        <img src="<%= listings.image.url %>" class="card-img-top show-img" alt="Listing image">
        <br> <br>
        <div class="card-body">
            <p class="card-text">Owned by  <i> <%= listings.owner.username %> </i> </p>
          <p class="card-text"><%= listings.description %> </p>
          <p class="card-text reset-font">&#8377 <%= listings.price.toLocaleString("en-IN") %> </p>
          <p class="card-text"><%= listings.location %>  </p>
          <p class="card-text"><%= listings.country  %>   </p>
        </div>
        <br>

        <% if( currUser && currUser._id.equals(listings.owner._id)) { %>

        <div class="btns mt-2 d-flex justify-content-center align-items-center gap-2">
            <a href="/listings/<%= listings._id %>/edit" class="btn new-btn">Edit this listing</a>
            <form method="POST" action="/listings/<%= listings._id %>?_method=DELETE" style="margin: 0;">
              <button class="btn btn-dark">Delete</button>
            </form>
          </div>
          
        <% } %>

    
    <br><br>

<hr>


</div>

<div class="col-9 offset-3 mb-3 playfair-display-title">
    <% if(currUser) { %>
    <h4 class="fw-semibold fs-4"> Leave a Review</h4>
    <form action="/listings/<%= listings._id %>/reviews" method="post" novalidate class="needs-validation fs-5 w-75">

        <div class="mb-3 mt-3 w-50">
            <label for="rating" class="form-label">Rating</label>
            <div id="star-rating" class="form-range"></div>
            <input type="hidden" name="review[rating]" id="rating-value" value="0">
        </div>


        <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Leave a comment</label>
            <textarea name="review[comment]" id="comment" class="form-control" cols="30" rows="5" required></textarea>
            <div class="invalid-feedback">Please add some comment befrore submitting</div>
        </div>
        
        <button class="btn btn-outline-dark offset-5">Submit</button>
    </form>
    <% } %>
    <br><br>
    <p><b>All reviews</b> </p>
    <div class="row">
    <% for( review of listings.reviews){ %>
    <div class="card col-4 ms-3 mb-3">
        <div class="card-body">
            <h5 class="card-title"> @<%= review.author.username %> </h5>
            <p class="card-text"><%= review.comment %></p>
            <p class="card-text"><%= review.rating %> stars</p>
            <form action="/listings/<%= listings._id %>/reviews/<%= review._id %>?_method=DELETE" method="post" class="mb-3">
                <button class="btn btn-dark btn-sm">Delete</button>
            </form>
        </div>    
    </div>
    <% } %>
</div>
</div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const starContainer = document.getElementById("star-rating");
    const hiddenInput = document.getElementById("rating-value");

    // Create 5 stars
    for (let i = 1; i <= 5; i++) {
      const star = document.createElement("span");
      star.classList.add("star");
      star.innerHTML = "&#9733;"; 
      star.dataset.value = i;

      // Hover effect
      star.addEventListener("mouseover", () => {
        highlightStars(i);
      });

      star.addEventListener("mouseout", () => {
        highlightStars(hiddenInput.value);
      });

      star.addEventListener("click", () => {
        hiddenInput.value = i;
        highlightStars(i);
      });

      starContainer.appendChild(star);
    }

    function highlightStars(rating) {
      const stars = starContainer.querySelectorAll(".star");
      stars.forEach((star, index) => {
        star.classList.remove("selected", "hover");
        if (index < rating) {
          star.classList.add("selected");
        }
      });
    }
  });
</script>


 